<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./layout/layout.css.ejs") %>
</head>

<body>

    <%- include("./layout/layout.header.ejs") %>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="m-0 font-weight-bold text-primary">Quản lý chuyên ngành</h6>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <a style="text-align: right;" class="dropdown-item" href="#" data-toggle="modal"
                            data-target="#addcate">
                            <i class="fas fa-plus-square" style='font-size:20px; color: 
                        #4e73df;'></i> Thêm mới
                        </a>
                    </div>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID chuyên nghành</th>
                                <th>Tên chuyên nghành</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Trường chuyên nghành</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for (let index=0; index < DS_chuyennghanh.length; index++) {%>
                                <tr>
                                    <td>
                                        <%= DS_chuyennghanh[index].dataValues.IDdonvi %>
                                    </td>
                                    <td>

                                        <%= DS_chuyennghanh[index].dataValues.tendonvi %>
                                    </td>
                                    <td>

                                        <%= DS_chuyennghanh[index].dataValues.diachi %>
                                    </td>
                                    <td>

                                        <%= DS_chuyennghanh[index].dataValues.sodienthoai %>
                                    </td>
                                    <td>

                                        <%= DS_chuyennghanh[index].dataValues.truongdonvi %>
                                    </td>
                                    <td>
                                       
                                           
                                            <ul style="list-style: none;display: flex;">
                                                <li> <a  href="#" data-toggle="modal"
                                                        data-target="#detailcate<%=DS_chuyennghanh[index].dataValues.IDdonvi %>">
                                                        <i class="fas fa-eye"
                                                            style='font-size:20px; color: lightsalmon;'></i>&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>

                                                <li> <a  href="#" data-toggle="modal"
                                                        data-target="#updatecate<%=DS_chuyennghanh[index].dataValues.IDdonvi %>">
                                                        <i class='fas fa-pencil-ruler'
                                                            style='font-size:20px; color: blue;'></i>&nbsp;&nbsp;&nbsp; 
                                                    </a>
                                                </li>
                                                <li> <a 
                                                        href="./chuyennghanh/xoa_chuyennghanh/<%= DS_chuyennghanh[index].dataValues.IDdonvi %>"
                                                        onclick=" confirm('Are you sure you want to delete this item?');"><i
                                                            class="fas fa-trash"
                                                            style='font-size:20px; color: 	#FF3333;'></i>&nbsp;&nbsp;&nbsp; </a>
                                                </li>
                                            </ul>
                                       
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
        <% for (let index=0; index < DS_chuyennghanh.length; index++) {%>
            <form action="/quanly/chuyennghanh/sua_chuyennghanh/<%=DS_chuyennghanh[index].dataValues.IDdonvi %>" method="POST"
                enctype="application/x-www-form-urlencoded">
                <div class="modal fade" id="updatecate<%=DS_chuyennghanh[index].dataValues.IDdonvi %>" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cập nhật chuyên ngành
                                </h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">ID chuyên ngành</label>
                                    <input type="text" class="form-control" name="IDdonvi"
                                        value="<%=DS_chuyennghanh[index].dataValues.IDdonvi %>">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Tên chuyên ngành</label>
                                    <input type="text" class="form-control" name="tendonvi"
                                        value="<%=DS_chuyennghanh[index].dataValues.tendonvi %>">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Địa chỉ</label>
                                    <input type="text" class="form-control" name="diachi"
                                        value="<%=DS_chuyennghanh[index].dataValues.diachi %>">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Số điện thoại</label>
                                    <input type="text" class="form-control" name="sodienthoai"
                                        value="<%=DS_chuyennghanh[index].dataValues.sodienthoai %>">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Trưởng chuyên ngành</label>
                                    <input type="text" class="form-control" name="truongdonvi"
                                        value="<%=DS_chuyennghanh[index].dataValues.truongdonvi %>">
                                </div>
                                <button type="submit" class="btn btn-primary">Cập nhật</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/quanly/chuyennghanh" class="btn btn-primary">Trở lại</a>
                            </div>

                        </div>
                    </div>
                </div>
            </form>


             <div class="modal fade" id="detailcate<%=DS_chuyennghanh[index].dataValues.IDdonvi %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết chuyên ngành</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>ID chuyên ngành</th>
                                        <td>
                                            <%= DS_chuyennghanh[index].dataValues.IDdonvi %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Tên chuyên ngành</th>
                                        <td>
                                            <%= DS_chuyennghanh[index].dataValues.tendonvi %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Địa chỉ</th>
                                        <td>
                                            <%= DS_chuyennghanh[index].dataValues.diachi %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Số điện thoại</th>
                                        <td>
                                            <%= DS_chuyennghanh[index].dataValues.sodienthoai %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Trường chuyên ngành</th>
                                        <td>
                                            <%= DS_chuyennghanh[index].dataValues.truongdonvi %>
                                        </td>

                                    </tr>
                                    
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div> 

            <%}%>
                </div>
                <form action="/quanly/chuyennghanh/them_chuyennghanh" method="POST" enctype="application/x-www-form-urlencoded">

                    <div class="modal fade" id="addcate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới chuyên ngành</i></h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">ID chuyên ngành</label>
                                        <input type="text" class="form-control" name="IDdonvi">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Tên khoa</label>
                                        <input type="text" class="form-control" name="tendonvi">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Địa chỉ</label>
                                        <input type="text" class="form-control" name="diachi">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Số điện thoại</label>
                                        <input type="text" class="form-control" name="sodienthoai">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Trưởng chuyên ngành</label>
                                        <input type="text" class="form-control" name="truongdonvi">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Thêm mới
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/quanly/chuyennghanh" class="btn btn-primary">Trở lại</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>




                <%- include("./layout/layout.footer.ejs") %>
                    <%- include("./layout/layout.js.ejs") %>
</body>


</html>