<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layout/layout.css.ejs") %>
    <style>
      #kc1,
      #kc2,
      #kc3,
      #kc5 {
        padding-left: 50px;
      }
    </style>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
  </head>

  <body>
    <%- include("./layout/layout.header.giangvien.ejs") %>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div>
          <h6 class="m-0 font-weight-bold text-primary">Danh sách đề tài đã được đăng ký</h6>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
               
                <th>Đề tài</th>
                <th>Tùy chọn</th>
              </tr>
            </thead>

            <tbody>
              <% ds_detai.rows.forEach(function(ds_detai){ %>
              <tr>
                
                <td><%= ds_detai.tendetai %></td>
                <td>
                  <!-- Example single danger button -->
                  <div class="btn-group">
                    <a
                      class="dropdown-item btn btn-primary"
                      href="<%=ds_detai.IDgiangvien %>"
                      data-toggle="modal"
                      data-target="#detailcate<%=ds_detai.IDdetai %>"
                      style="
                        background-color: #4e73df;
                        color: white;
                        font-size: 16px;
                      "
                    >
                      Xem danh sách
                    </a>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   
      <% ds_detai.rows.forEach(function(ds_detai){ %>
    <div
    class="modal fade"
    id="detailcate<%=ds_detai.IDdetai %>"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 900px;">
        <div class="modal-header">
          <h6
          class="modal-title"
          id="exampleModalLabel"
          style="color: #4e73df; font-weight: bold;"
        >
          Danh sách sinh viên chọn đề tài 

        </h6>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
      </br>
      
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              
            </div>
            <div class="card-body">
             
              <div class="table-responsive">
                <table
                  class="table table-bordered"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                <thead>
                  <tr>
                   <th>Sinh viên</th>
                   <th>Chuyên ngành</th>
                   <th>Lớp</th>
                    <th>Đề tài</th>
                    <th>Tùy chọn</th>
                  </tr>
                </thead>
                <% ds_sinhvien.rows.forEach(function(ds_sinhvien){ %>
                  <% if (ds_sinhvien.IDdetai == ds_detai.IDdetai) { %>
                <tbody>
                 
                  <tr>
                    <td><%= ds_sinhvien.tensinhvien %></td>
                    <td><%= ds_sinhvien.tendonvi %></td>
                    <td><%= ds_sinhvien.tenlop %></td>
                    <td><%= ds_sinhvien.tendetai %></td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="dropdown-item btn btn-primary"
                         
                          data-toggle="modal"
                          data-target="#sinhvien<%=ds_sinhvien.IDsinhvien %>"
                          style="
                            background-color: #4e73df;
                            color: white;
                            font-size: 16px;
                            height:38px ;
                       
                          "
                        >
                          Chi tiết
                        </button>
                      </div>
                      
                      <!-- Example single danger button -->
                   
              
                    </td>
                  </tr>
                 
        
                </tbody>
                <% } %>
         
                <% }); %>  
                </table>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>
  </div>
<% ds_sinhvien.rows.forEach(function(ds_sinhvien){ %>
  <div class="modal fade" id="sinhvien<%=ds_sinhvien.IDsinhvien %>" tabindex="-1" role="dialog"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content" style="width:910px ;">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Chi tiết sinh viên</h5>
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
               </button>
           </div>
           <div class="modal-body">
            <h6
            class="modal-title"
            id="exampleModalLabel"
            style="color: #4e73df"
          >
            Thông tin sinh viên đăng ký
          </h6>
        </br>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="exampleInputPassword1"><b>Mã sinh viên</b></label>
                <p><td><%=ds_sinhvien.IDsinhvien %></td></p>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputPassword1"><b>Tên sinh viên</b></label>
                <p><td><%=ds_sinhvien.tensinhvien %></td></p>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="exampleInputPassword1"><b>Email</b></label>
                <p><td><%=ds_sinhvien.email %></td></p>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputPassword1"
                  ><b>Số điện thoại</b></label
                >
                <p><td><%=ds_sinhvien.sodienthoai %></td></p>
              </div>
              </div>
            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1"><b>Điểm tích lũy</b></label>
              <p><td><%=ds_sinhvien.diemtichluy %></td></p>
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1"
                ><b>Các kỹ năng và kiến thức</b></label
              >
              <p><td><%=ds_sinhvien.kynang %></td></p>
            </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="exampleInputPassword1"><b>Lớp</b></label>
                <p><td><%=ds_sinhvien.tenlop %></td></p>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputPassword1"
                  ><b>Khóa đào tạo</b></label
                >
                <p><td><%=ds_sinhvien.khoadaotao %></td></p>
              </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1"><b>Đề tài đăng kí</b></label>
                <p><td><%=ds_sinhvien.tendetai %></td></p>
              </div>
            </br>
            <ul style="list-style: none;display: flex;">
                <li > 
                   
                        <div class="form-group">
                          <input type="hidden" name="IDsinhvien" id="IDsinhviens" value="<%=ds_sinhvien.IDsinhvien %>">
                          </div>
                    <div class="form-group">
                      <button type="submit" id="dongy" class="btn btn-primary">Đồng ý</button>
                    </div>
                
                </li>&nbsp;&nbsp;&nbsp;&nbsp;
                  <li>
                   
                        <div class="form-group">
                            <input type="hidden" name="IDsinhvien"  id="IDsinhvienes" value="<%=ds_sinhvien.IDsinhvien %>">
                            </div>
                    <div class="form-group">
                      <button type="submit" id="tuchoi" class="btn btn-primary">Từ chối</button>
                    </div>
                 
                </li>
            </ul>
           </div>
          
           
           
           
       </div>
   </div>
 </div> 
 <% }); %>
 <% }); %>
 

 <%- include("./layout/layout.footer.ejs") %>
    <%-include("./layout/layout.js.ejs") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>


	<script type="text/javascript">
		function notify(name) {
			$.notify(name, "success");
		}
	</script>
    <script>
      $(document).ready(function () {
        $("#dongy").click(async function () { var data = await {
      IDsinhvien: document.getElementById("IDsinhviens").value,
      
     
    };
    var f = await fetch("http://localhost:8008/giangvien/dongy", {
      method: "POST", // or 'PUT'
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    }).then(response => response.json())
  .then(data => notify(data.message));
   });
        
    
});
    </script>
    <script>
      $(document).ready(function () {
        $("#tuchoi").click(async function () { var data = await {
      IDsinhvien: document.getElementById("IDsinhvienes").value,
      
     
    };
    var f = await fetch("http://localhost:8008/gianhvien/tuchoi", {
      method: "POST", // or 'PUT'
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    }).then(response => response.json())
  .then(data => notify(data.message));
   });
   
    
});
    </script>
  </body>
</html>
