<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./layout/layout.css.ejs") %>
</head>

<body>

    <%- include("./layout/layout.header.ejs") %>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="m-0 font-weight-bold text-primary">Quản lý sinh viên</h6>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <a style="text-align: right;" class="dropdown-item" href="#" data-toggle="modal"
                            data-target="#addcate">
                            <i class="fas fa-plus-square" style='font-size:20px; color: 
                        #4e73df;'></i> Thêm mới
                        </a>
                    </div>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID sinh viên</th>
                                <th>Tên sinh viên</th>
                                <th>Giới tính</th>
                                <th>Năm sinh</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Source code</th>
                                <th>Quê quán</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% ds_sinhvien.rows.forEach(function(ds_sinhvien){ %>
                                <tr>
                                    <td>
                                        <%= ds_sinhvien.IDsinhvien %>
                                    </td>
                                    <td>

                                        <%= ds_sinhvien.tensinhvien %>
                                    </td>
                                    <td>

                                        <%= ds_sinhvien.gioitinh %>
                                    </td>
                                    <td>

                                        <%= ds_sinhvien.namsinh %>
                                    </td>
                                    <td>

                                        <%= ds_sinhvien.email %>
                                    </td>
                                    <td>

                                        <%= ds_sinhvien.sodienthoai %>
                                    </td>
                                    <td>
                                        <%= ds_sinhvien.sourcecode %>
                                    </td>
                                    <td>

                                        <%= ds_sinhvien.quequan %>
                                    </td>

                                    <td>


                                        <ul style="list-style: none;display: flex;">
                                            <li> <a href="#" data-toggle="modal"
                                                    data-target="#detailcate<%=ds_sinhvien.IDsinhvien %>">
                                                    <i class="fas fa-eye"
                                                        style='font-size:20px; color: lightsalmon;'></i>&nbsp;&nbsp;&nbsp;
                                                </a>
                                            </li>

                                            <li> <a href="#" data-toggle="modal"
                                                    data-target="#updatecate<%=ds_sinhvien.IDsinhvien %>">
                                                    <i class='fas fa-pencil-ruler'
                                                        style='font-size:20px; color: blue;'></i>&nbsp;&nbsp;&nbsp;
                                                </a>
                                            </li>
                                            <li> <a href="./sinhvien/xoa_sinhvien/<%= ds_sinhvien.IDsinhvien %>"
                                                    onclick=" confirm('Are you sure you want to delete this item?');"><i
                                                        class="fas fa-trash"
                                                        style='font-size:20px; color: 	#FF3333;'></i>&nbsp;&nbsp;&nbsp;
                                                </a>
                                            </li>
                                        </ul>

                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <% ds_sinhvien.rows.forEach(function(ds_sinhvien){ %>
            <form action="/quanly/sinhvien/sua_sinhvien/<%=ds_sinhvien.IDsinhvien %>" method="POST"
                enctype="application/x-www-form-urlencoded">
                <div class="modal fade" id="updatecate<%=ds_sinhvien.IDsinhvien %>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 850px;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cập nhật sinh viên
                                </h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body">
                                    <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">ID sinh viên</label>
                                        <input type="text" class="form-control" name="IDsinhvien"
                                            value="<%=ds_sinhvien.IDsinhvien %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Tên sinh viên</label>
                                        <input type="text" class="form-control" name="tensinhvien"
                                            value="<%=ds_sinhvien.tensinhvien %>">
                                    </div>
                                    </div>
                                    <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Năm sinh</label>
                                        <input type="date" class="form-control" name="namsinh"
                                            value="<%=ds_sinhvien.namsinh %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Giới tính</label>
                                            <select class="custom-select" name="gioitinh">
                                                <option value="<%= ds_sinhvien.gioitinh %>">
                                                    <%= ds_sinhvien.gioitinh %>
                                                </option>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            </select>
                                    </div>
                                    </div>
                                    <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Email</label>
                                        <input type="email" class="form-control" name="email"
                                            value="<%=ds_sinhvien.email %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Số điện thoại</label>
                                        <input type="tel" class="form-control" name="sodienthoai"
                                            value="<%=ds_sinhvien.sodienthoai %>">
                                    </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Quê quán</label>
                                        <input type="text" class="form-control" name="quequan"
                                            value="<%=ds_sinhvien.quequan %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Hộ khẩu thường chú</label>
                                        <input type="text" class="form-control" name="hokhuathuongchu"
                                            value="<%=ds_sinhvien.hokhuathuongchu %>">
                                    </div>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" value="../uploads/<%=ds_sinhvien.sourcecode %>"  class="custom-file-input" id="customFile" type="file"
                                            name="sourcecode" multiple>
                                        <label class="custom-file-label" for="customFile">Source code...</label>
                                    </div>
                                    <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="exampleInputPassword1">Bậc đào tạo </label>
                                            <select class="custom-select" name="bacdaotao">
                                                <option value="<%= ds_sinhvien.bacdaotao %>">
                                                    <%= ds_sinhvien.bacdaotao %>
                                                </option>
                                                <option value="Chính quy">Chính Quy</option>
                                                <option value="Tại chức">Tại chức</option>
                                            </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="exampleInputPassword1">Hệ Đào tạo</label>
                                        <select class="custom-select" name="hedaotao">
                                            <option value="<%= ds_sinhvien.hedaotao %>">
                                                <%= ds_sinhvien.hedaotao %>
                                            </option>
                                            <option value="Đại Học">Đại học</option>
                                            <option value="Cao đẳng">Cao đẳng</option>
                                            <option value="Trung cấp">Trung cấp</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="exampleInputPassword1">Khóa đào tạo</label>
                                        <input type="text" class="form-control" name="khoadaotao"
                                            value="<%=ds_sinhvien.khoadaotao %>">
                                    </div>
                                    </div>

                                    <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Chọn lớp</label>
                                        <select name="IDlop" class="form-control">
                                            <option value="<%= ds_sinhvien.IDlop %>">
                                                <%= ds_sinhvien.tenlop %>
                                            </option>
                                            <% chon_lop.rows.forEach(function(chon_lop){ %>
                                                <option value="<%= chon_lop.IDlop %>">
                                                    <%= chon_lop.tenlop %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputPassword1">Chọn chủ đề</label>
                                        <select name="IDchude" class="form-control">
                                            <option value="<%= ds_sinhvien.IDchude %>">
                                                <%= ds_sinhvien.tenchude %>
                                            </option>
                                            <% chon_chude.rows.forEach(function(chon_chude){ %>
                                                <option value="<%= chon_chude.IDchude %>">
                                                    <%= chon_chude.tenchude %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Chọn đề tài</label>
                                        <select name="IDdetai" class="form-control">
                                            <option value="<%= ds_sinhvien.IDdetai %>">
                                                <%= ds_sinhvien.tendetai %>
                                            </option>
                                            <% chon_detai.rows.forEach(function(chon_detai){ %>
                                                <option value="<%= chon_detai.IDdetai %>">
                                                    <%= chon_detai.tendetai %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Chọn giảng viên</label>
                                        <select name="IDgiangvien" class="form-control">
                                            <option value="<%= ds_sinhvien.IDgiangvien %>">
                                                <%= ds_sinhvien.tengiangvien %>
                                            </option>
                                            <% chon_giangvien.rows.forEach(function(chon_giangvien){ %>
                                                <option value="<%= chon_giangvien.IDgiangvien %>">
                                                    <%= chon_giangvien.tengiangvien %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Cập
                                        nhật</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/quanly/sinhvien" class="btn btn-primary">Trở lại</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <div class="modal fade" id="detailcate<%=ds_sinhvien.IDsinhvien %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: 850px">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết sinh viên</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered" >
                                <tbody>
                                    <tr>
                                        <th>ID sinh viên</th>
                                        <td>
                                            <%= ds_sinhvien.IDsinhvien %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Tên sinh viên</th>
                                        <td>
                                            <%= ds_sinhvien.tensinhvien %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Giới tính </th>
                                        <td>
                                            <%= ds_sinhvien.gioitinh %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Năm sinh </th>
                                        <td>
                                            <%= ds_sinhvien.namsinh %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>
                                            <%= ds_sinhvien.email %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Số điện thoại </th>
                                        <td>
                                            <%= ds_sinhvien.sodienthoai %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Quê quán </th>
                                        <td>
                                            <%= ds_sinhvien.quequan %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Hộ khẩu thường chú </th>
                                        <td>
                                            <%= ds_sinhvien.hokhuathuongchu %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Source code </th>
                                        <td>
                                           <%= ds_sinhvien.sourcecode %>
                                               
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Bậc đào tạo </th>
                                        <td>
                                            <%= ds_sinhvien.bacdaotao %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Hệ đào tạo</th>
                                        <td>
                                            <%= ds_sinhvien.hedaotao%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Khóa đào tạo</th>
                                        <td>
                                            <%= ds_sinhvien.khoadaotao %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Lớp</th>
                                        <td>
                                            <%= ds_sinhvien.tenlop %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Chủ đề</th>
                                        <td>
                                            <%= ds_sinhvien.tenchude %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Đề tài</th>
                                        <td>
                                            <%= ds_sinhvien.tendetai %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Giảng viên hướng dẫn</th>
                                        <td>
                                            <%= ds_sinhvien.tengiangvien %>
                                        </td>

                                    </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <% }); %>
                <form action="/quanly/sinhvien/them_sinhvien" method="POST" enctype="multipart/form-data">
                    <div class="modal fade" id="addcate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="width:850px;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới sinh viên</i></h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-row ">
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">ID sinh viên</label>
                                            <input type="text" class="form-control" name="IDsinhvien">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Tên sinh viên</label>
                                            <input type="text" class="form-control" name="tensinhvien">
                                        </div>
                                    </div>
                                    <div class="form-row ">
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Năm sinh</label>
                                            <input type="date" class="form-control" name="namsinh">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Giới tính</label>
                                            <select class="custom-select" name="gioitinh">
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Email</label>
                                            <input type="email" class="form-control" name="email">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Số điện thoại</label>
                                            <input type="tel" class="form-control" name="sodienthoai">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Quê quán</label>
                                            <input type="text" class="form-control" name="quequan">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Hộ khẩu thường chú</label>
                                            <input type="text" class="form-control" name="hokhuathuongchu">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="formFileMultiple" class="form-label">Upload source code</label>
                                        <input class="form-control" type="file" name="sourcecode" id="formFileMultiple" multiple />
                                    </div>
                                    <div class="form-row" style="padding-top: 20px;">
                                        <div class="form-group col-md-4">
                                            <label for="exampleInputPassword1">Bậc đào tạo</label>
                                            <select class="custom-select" name="bacdaotao">
                                                <option value="Chính quy">Chính Quy</option>
                                                <option value="Tại chức">Tại chức</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="exampleInputPassword1">Hệ Đào tạo</label>
                                            <select class="custom-select" name="hedaotao">
                                                <option value="Đại Học">Đại học</option>
                                                <option value="Cao đẳng">Cao đẳng</option>
                                                <option value="Trung cấp">Trung cấp</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="exampleInputPassword1">Khóa đào tạo</label>
                                            <input type="text" class="form-control" name="khoadaotao">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Chọn lớp</label>
                                            <select name="IDlop" class="form-control">
                                                <% lop.rows.forEach(function(lop){ %>
                                                    <option value="<%= lop.IDlop %>">
                                                        <%= lop.tenlop %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Chọn chủ đề</label>
                                            <select name="IDchude" class="form-control">
                                                <% chude.rows.forEach(function(chude){ %>
                                                    <option value="<%=chude.IDchude %>">
                                                        <%= chude.tenchude %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Chọn đề tài</label>
                                        <select name="IDdetai" class="form-control">

                                            <% detai.rows.forEach(function(detai){ %>
                                                <option value="<%= detai.IDdetai %>">
                                                    <%= detai.tendetai %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Chọn giảng viên</label>
                                        <select name="IDgiangvien" class="form-control">

                                            <% giangvien.rows.forEach(function(giangvien){ %>
                                                <option value="<%= giangvien.IDgiangvien %>">
                                                    <%= giangvien.tengiangvien %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                        </div>
                                        <div class="form-group col-md-4">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <button type="submit" class="btn btn-primary">Thêm
                                                mới</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="/quanly/sinhvien" class="btn btn-primary">Trở lại</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>




                <%- include("./layout/layout.footer.ejs") %>
                    <%- include("./layout/layout.js.ejs") %>
</body>


</html>