<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layout/layout.css.ejs") %>
    <style>
      #kc1,
      #kc2,
      #kc3,
      #kc5 {
        padding-left: 50px;
      }
    </style>
  </head>

  <body>
    <%- include("./layout/layout.header.sinhvien.ejs") %>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div>
          <h5 class="m-0 font-weight-bold text-primary">
            Danh sách đồ án đã bảo vệ
          </h5>
        </div>
      </div>
      <div class="card-body">
        <div style="margin-bottom: 30px; margin-left: 150px">
          <form
            action="/sinhvien/locdetai"
            method="POST"
            enctype="application/x-www-form-urlencoded"
          >
            <table>
              <tr>
                <th id="kc1">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Chủ đề</label>
                    <select class="form-control" name="IDchude">
                      <option value="">Chọn chủ đề</option>
                      <% chude.rows.forEach(function(chude){ %>
                      <option value="<%= chude.IDchude %>">
                        <%= chude.tenchude %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                </th>
                <th id="kc1">
                  <div class="form-group">
                    <label for="exampleInputPassword1"
                      >Đề tài theo chuyên ngành</label
                    >
                    <select class="form-control" name="IDdonvi">
                      <option value="">Chọn đơn vị</option>
                      <% donvi.rows.forEach(function(donvi){ %>
                      <option value="<%= donvi.IDdonvi %>">
                        <%= donvi.tendonvi %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                </th>
                <th id="kc5">
                  <button
                    type="submit"
                    style="margin-top: 15px"
                    class="btn btn-primary"
                  >
                    Tìm kiếm
                  </button>
                </th>
              </tr>
            </table>
          </form>
        </div>
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Mã đề tài</th>
                <th>Tên đề tài</th>
                <th>Sinh viên thực hiện</th>
                <th>Giảng viên hướng dẫn</th>
                <th>Năm thực hiện</th>
                <th>Tùy chọn</th>
              </tr>
            </thead>

            <tbody>
              <% ds_detai.rows.forEach(function(ds_detai){ %>
              <tr>
                <td><%= ds_detai.IDdetai %></td>
                <td><%= ds_detai.tendetai %></td>
                <td><%= ds_detai.tensinhvien %></td>
                <td><%= ds_detai.tengiangvien %></td>
                <td><%= ds_detai.nam %></td>

                <td>
                  <!-- Example single danger button -->
                  <div class="btn-group">
                    <a
                      class="dropdown-item btn btn-primary"
                      href="<%=ds_detai.IDdetai %>"
                      data-toggle="modal"
                      data-target="#detailcate<%=ds_detai.IDdetai %>"
                      style="
                        background-color: #4e73df;
                        color: white;
                        font-size: 16px;
                      "
                      >Chi tiết
                    </a>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% ds_detai.rows.forEach(function(ds_detai){ %>

    <div
      class="modal fade"
      id="detailcate<%=ds_detai.IDdetai %>"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
              style="color: #4e73df"
            >
              Chi tiết Đề tài
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Mã đề tài</th>
                  <td><%= ds_detai.IDdetai %></td>
                </tr>
                <tr>
                  <th>Tên Đề tài</th>
                  <td><%= ds_detai.tendetai %></td>
                </tr>
                <tr>
                  <th>Sinh viên thực hiện</th>
                  <td><%= ds_detai.tensinhvien %></td>
                </tr>
                <tr>
                  <th>Giảng viên hướng dẫn</th>
                  <td><%= ds_detai.tengiangvien %></td>
                </tr>
                <tr>
                  <th>Chuyên ngành</th>
                  <td><%= ds_detai.tendonvi %></td>
                </tr>
                <tr>
                  <th>Năm thực hiện</th>
                  <td><%= ds_detai.nam %></td>
                </tr>
                <tr>
                  <th>Tài liệu</th>
                  <td>
                    <a
                      href="http://localhost:8008/uploads/<%= ds_detai.sourcecode %>"
                      ><%= ds_detai.sourcecode %></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <% }); %> <%- include("./layout/layout.footer.ejs") %>
    <%-include("./layout/layout.js.ejs") %>
  </body>
</html>
